<!-- <div class="flowchart-task">
    <section class="content">
        <div class="task">
            <h2>Task Details</h2>
            <ul>
                <li>Type: {{ type }}</li>
                <li>Category: {{ category }}</li>
                <li>Skill level: {{ skillLevel }} </li>
            </ul>

            <button (click)="create()">Create task</button>
            
        <h2>Task Description</h2>
        <textarea id="task-description-editor" class="flexible-textarea"></textarea>

        <h2>Code</h2>
        <textarea id="code-editor" class="code-area" placeholder="Write your code here..."></textarea>
        <pre class="code-display"><code class="language-python" id="highlighted-code"></code></pre>
        <button class="run-btn">Run</button>

        <h2>Output</h2>
        <textarea class="flexible-textarea" placeholder="View output here..."></textarea>
        </div>

        <div class="hint">
        <button class="hint-button" onclick="addHint()">+ Hint</button>
        <div id="hints-container"></div>
        <div class="hint-section">
            <button class="hint-button">Add Feedback</button>
        </div>
        <button class="run-btn" (click)="save()">save</button>

        </div>
    </section>
</div> -->
