.code-style {
    border-radius: 4px;
    white-space: pre-wrap;
    word-wrap: break-word;
    display: block;
    white-space: pre; /* Behält die Formatierung der Leerzeichen bei */
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 14px;
    line-height: 1.2;
    text-align: left !important;
}

.td-task-description:first-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 

}

.td-task-description:last-child {
    border-left-style: solid;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;

}
.td-task-description{
    border: solid 3px #000000;
    background-color: #ffffff; 
    padding: 10px;
    margin-bottom: 10px;
}

.task-body{
    width: 87%;
    height: 100%;
    overflow: auto;
}

.freeCodeInput {
    background-color: white;
}

.check-button {
    width: 115px;
    /* Breite des Buttons */
    height: 40px;
    /* Höhe des Buttons */
}

.button-check-hint {
    float: left;
}
.hint-position {
    height: 0px;
}

.image-container {
    position: absolute;
    bottom: 300px;
    right: 300px;
  }

  img {
    max-width: 100px;
    max-height: 100px;
  }
  
  .textbox {
    position: absolute;
    bottom: 100px;
    right: 100px;
    background-color: aliceblue;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    width: 100px;
    border: 1px solid black;
  }

