<div>
    <div class="task-body">
    
        <h3>{{ taskTitle }}</h3>
        <td colspan="2" class="td-task-description" >
            {{ taskDescription }}
            <pre class="code-style">{{ codeSection }}</pre>
        </td>
        
    <!-- Input for the students solution -->
    <tr>
        <h4>Your answer:</h4>
        <textarea
          id="solution-editor"
          class="code-style"
          placeholder="Write your answer here..."
          [(ngModel)]="userAnswer"
        ></textarea>
    </tr>
        <tr>
            <td class="button-check-hint">
                <button (click)=null class="check-button">Check</button>
            </td>
        </tr>   
    </div>
    <td>
</div>


