<div>
  <table>
    <td>
      <h2>{{ task.title }}</h2>

      <!-- Display Task Description -->
      <div id="description">
        <p>{{ task.description[0].text }}</p>
      </div>
      <pre class="code-block">
      <code style="text-align: left;display: block;" id="gap-section"></code>
    </pre>

      <!-- Submit Button -->
      <button (click)="submitAnswer()">Submit Answer</button>
    </td>
    <div class="image-container">
      <img src="../../../assets/happy_pythonTutor - Kopie.png" alt="Image" />
      <div class="textbox" style="visibility: hidden" id="feedback">
        {{ feedback }}
      </div>
    </div>
  </table>
</div>
